{% extends 'base.html' %}
{% block title %}パスワードリセット{% endblock %}

{% block contents %}

<hr>

<div class="container">
    <div class="row">

        <div class="col offset-2 py-4">
            <h3><span id="reset_message">パスワードのリセット手順をメールで送信しました。</span><br>
                <span id="email">メールはすぐに届きます。</span></h3>
                <br>
                <h4>
                    <span id="caution_message1">メールが届かない場合は、登録済みのメールアドレスであるかを確認し、</span><br>
                    <span id="caution_message2">迷惑メールフォルダーも確認してみてください。</span></h4>
                    <br>

                    <a href="{% url 'amazon:index' %}">
                        <span class="material-symbols-outlined">
                            exit_to_app
                        </span>
                        <span id="back">トップへ</span></a>
        </div>
    </div>
</div>

<script>
    document.getElementById('language-select').addEventListener('change', function () {
      var selectedLanguage = this.value;
      var reset_message = document.getElementById("reset_message");
      var email = document.getElementById("email");
      var caution_message1 = document.getElementById("caution_message1");
      var caution_message2 = document.getElementById("caution_message2");
      var back = document.getElementById("back");
      if (selectedLanguage === 'ja') {
        reset_message.innerText = "パスワードのリセット手順をメールで送信しました。";
        email.innerText = "メールはすぐに届きます。";
        caution_message1.innerText = "メールが届かない場合は、登録済みのメールアドレスであるかを確認し、";
        caution_message2.innerText = "迷惑メールフォルダーも確認してみてください。";
        back.innerText = "トップへ";
      }
      else if (selectedLanguage === 'en') {
        reset_message.innerText = "We have emailed you instructions on how to reset your password.";
        email.innerText = "You will receive the email immediately.";
        caution_message1.innerText = "If you do not receive the email, please check if it is a registered email address.";
        caution_message2.innerText = "Please also check your spam folder.";
        back.innerText = "Back to top";
      }
    })
</script>
{% endblock %}
