{% extends 'base.html' %}

{% block title %}パスワードリセット{% endblock %}
            {% block contents %}

            <div class="container">

                <dic class="row">

                    <div class="col py-4">
                        <hr>
                        <h3><span id="reset">パスワードをリセットしますか？</span></h3>
                        <p>
                            <span id="message">登録済みのメールアドレスを入力してください。
                            パスワードリセットのリンクを記載したメールをすぐにお届けします。</span>
                        </p>
                        <br>

                        <form action="" method="POST" class="text-center">
                            {% csrf_token %}

                            {{form}}

                            <button type="submit"><span id="receive">メールを受け取る</span></button><br>
                        </form>
                        <br>

                        <a href="{% url 'amazon:index' %}"><span id="back">トップへ</span></a>
                        <hr>
                        </div>
                        </div>
                    </div>

                    <script>
                        document.getElementById('language-select').addEventListener('change', function () {
                          var selectedLanguage = this.value;
                          var reset = document.getElementById("reset");
                          var message = document.getElementById("message");
                          var receive = document.getElementById("receive");
                          var back = document.getElementById("back");
                          if (selectedLanguage === 'ja') {
                            reset.innerText = "パスワードをリセットしますか？";
                            message.innerText = "登録済みのメールアドレスを入力してください。パスワードリセットのリンクを記載したメールをすぐにお届けします。";
                            receive.innerText = "メールを受け取る";
                            back.innerText = "トップへ";
                          }
                          else if (selectedLanguage === 'en') {
                            reset.innerText = "Do you want to reset your password?";
                            message.innerText = "Please enter your registered email address. You will immediately receive an email with a link to reset your password."
                            receive.innerText = "Receive email";
                            back.innerText = "Back to top";
                          }
                        })
                    </script>
                    {% endblock %}
                        
