{% extends 'base.html' %}

{% block title %}サインアップ{% endblock %}

{% block contents %}
  <hr>
  <div class="container">

    <div class="row justify-content-center">

      <div class="col-md-8 col-lg-6">

        <h3>▼--<span id="signup">サインアップ</span>--▼</h3>
        <br>
        <form method="post">
          {% csrf_token %}

          {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}<br>
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
          {% endfor %}

          <p style="color:red">
            ※<span id="required_email">メールアドレスはパスワードをリセットする際に必要になりますので、登録をお願いします。</span>
          </p>

          <input type="submit" value="Sign up">
        </form>

        <br>
        <p>
          <a href="{% url 'amazon:index' %}">
            <span class="material-symbols-outlined">
              exit_to_app
            </span>
            <span id="back">トップへ</span>
          </a>
        </p>
      </div>
    </div>
  </div>

<script>
    document.getElementById('language-select').addEventListener('change', function () {
      var selectedLanguage = this.value;
      var signup = document.getElementById("signup");
      var required_email = document.getElementById("required_email");
      var back = document.getElementById("back");
      if (selectedLanguage === 'ja') {
        signup.innerText = "サインアップ";
        required_email.innerText = "メールアドレスはパスワードをリセットする際に必要になりますので、登録をお願いします。";
        back.innerText = "トップへ";
      }
      else if (selectedLanguage === 'en') {
        signup.innerText = "Sign up";
        required_email.innerText = "Your email address is required to reset your password, so please register.";
        back.innerText = "Back to top";
      }
    })
</script>
{% endblock %}
