{% extends 'base.html' %}

{% block title %}Amezonトップ{% endblock %}

{% block contents %}
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


<style>
  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    margin: 10px;
  }
</style>

<p><span id="welcome">ようこそ</span>:{{ user }}</p>

<h2>▼--<span id="product_list">商品一覧</span>--▼</h2>

<label for="sort-select"><span id="sort">ソート</span>：</label>
<select id="sort-select">
  <option value="price-asc">価格順 (昇順)</option>
  <option value="price-desc">価格順 (降順)</option>
  <option value="name-asc">名前順 (昇順)</option>
  <option value="name-desc">名前順 (降順)</option>
  <option value="rating-asc">評価順 (昇順)</option>
  <option value="rating-desc">評価順 (降順)</option>
</select>
<br>
<ul id="product-list">
  {% for product in products %}
  <li data-price="{{ product.price }}" data-name="{{ product.product_name }}"
    data-rating="{{ product.average_rating }}">
    <strong><a href="{% url 'amazon:product' product_id=product.product_id %}">{{ product.product_name }}</a></strong><br>
    <span id="brand">ブランド</span>: {{ product.brand }}<br>
    <span id="category">カテゴリ</span>: {{ product.category }}<br>
    <span id="price">価格</span>: ¥{{ product.price }}<br>
    <span id="rating">評価</span>: ☆{{ product.average_rating|default:"0.0" }}<br>
    {% if product.product_image %}
    <a href="{% url 'amazon:product' product_id=product.product_id %}"><img src="{{ product.product_image.url }}"
        alt="{{ product.product_name }}" width="100" height="100"></a>
    {% endif %}
  </li>
  {% endfor %}
</ul>

<br>
<hr style="height: 3px">
<br>

<h3>▼--<span id="recommended">おすすめの商品</span>--▼</h3>
<ul id="product-list" class="swiper-container">
  <div class="swiper-wrapper">
    {% for product in products %}
    <li class="swiper-slide" data-price="{{ product.price }}" data-name="{{ product.product_name }}" data-rating="{{ product.average_rating }}">
    <strong><a href="{% url 'amazon:product' product_id=product.product_id %}">・{{ product.product_name }}</a></strong><br>
    <span class="material-symbols-outlined">
brand_family
</span> ブランド: {{ product.brand }}<br>
    <span class="material-symbols-outlined">
category
</span> カテゴリ: {{ product.category }}<br>
    <span class="material-symbols-outlined">
paid
</span> 価格: ¥{{ product.price }}<br>
    <span class="material-symbols-outlined">
hotel_class
</span> 評価: ☆{{ product.average_rating|default:"0.0" }}<br>
    {% if product.product_image %}
    <a href="{% url 'amazon:product' product_id=product.product_id %}"><img src="{{ product.product_image.url }}"
        alt="{{ product.product_name }}" width="200" height="200"></a>
    {% endif %}
  </li>
  {% endfor %}
</ul>

<script>
document.getElementById('sort-select').addEventListener('change', function () {
    let sortCriteria = this.value.split('-');
    let sortField = sortCriteria[0];
    let sortOrder = sortCriteria[1];
    let productList = document.getElementById('product-list');
    let products = Array.from(productList.children);

    products.sort(function (a, b) {
        let aValue = a.getAttribute('data-' + sortField);
        let bValue = b.getAttribute('data-' + sortField);

        if (sortField === 'name') {
            if (sortOrder === 'asc') {
                return aValue.localeCompare(bValue, 'ja'); 
            } else {
                return bValue.localeCompare(aValue, 'ja');
            }
        } else {
            if (sortOrder === 'asc') {
                return aValue - bValue;
            } else {
                return bValue - aValue;
            }
        }
    });

    productList.innerHTML = '';
    products.forEach(function (product) {
        productList.appendChild(product);
    });
});
document.getElementById('language-select').addEventListener('change', function () {
      var selectedLanguage = this.value;
      var welcome = document.getElementById("welcome");
      var product_list = document.getElementById("product_list");
      var sort = document.getElementById("sort");
      var brand = document.getElementById("brand");
      var category = document.getElementById("category");
      var price = document.getElementById("price");
      var rating = document.getElementById("rating");
      var recommended = document.getElementById("recommended");
      if (selectedLanguage === 'ja') {
        welcome.innerText = "ようこそ";
        product_list.innerText = "商品一覧";
        sort.innerText = "ソート";
        brand.innerText = "ブランド";
        category.innerText = "カテゴリ";
        price.innerText = "価格";
        rating.innerText = "評価";
        recommended.innerText = "おすすめの商品";
      }
      else if (selectedLanguage === 'en') {
        welcome.innerText = "Welcome";
        product_list.innerText = "Product list";
        sort.innerText = "Sorted";
        brand.innerText = "Brand";
        category.innerText = "Category";
        price.innerText = "Price";
        rating.innerText = "Rating";
        recommended.innerText = "Recommended products";
      }
})
document.getElementById('language-select').addEventListener('change', function () {
      var selectedLanguage = this.value;
      var dropdown = document.getElementById("sort-select");
      var option1 = dropdown.querySelector('option[value="price-asc"]');
      var option2 = dropdown.querySelector('option[value="price-desc"]');
      var option3 = dropdown.querySelector('option[value="name-asc"]');
      var option4 = dropdown.querySelector('option[value="name-desc"]');
      var option5 = dropdown.querySelector('option[value="rating-asc"]');
      var option6 = dropdown.querySelector('option[value="rating-desc"]');
      if (selectedLanguage === 'ja') {
        option1.innerText = "価格順(昇順)";
        option2.innerText = "価格順(降順)";
        option3.innerText = "名前順(昇順)";
        option4.innerText = "名前順(降順)";
        option5.innerText = "評価順(昇順)";
        option6.innerText = "評価順(降順)";
      }
      else if (selectedLanguage === 'en') {
        option1.innerText = "By price(asc)";
        option2.innerText = "By price(desc)";
        option3.innerText = "By name(asc)";
        option4.innerText = "By name(desc)";
        option5.innerText = "By rating(asc)";
        option6.innerText = "By rating(desc)";
      }

      dropdown.dispatchEvent(new Event('change'));
})
document.addEventListener('DOMContentLoaded', function () {
  var mySwiper = new Swiper('.swiper-container', {
    // オプション設定（必要に応じてカスタマイズ）
    loop: true,
    autoplay: {
      delay: 3500, // 自動再生の間隔（ミリ秒）
    },
  });
});

</script>

{% endblock %}
