{% extends 'base.html' %}

{% block title %}購入履歴{% endblock %}

{% block contents %}
<h3>購入履歴</h3>
<br>
{% if user_orders %}
<p>合計金額: ¥{{ total_price }}</p>
<ul>
  {% for order_item in user_orders %}
  <li>
    <a href="{% url 'amazon:product' product_id=order_item.product.product_id %}">
      <p>商品名: {{ order_item.product.product_name }}</p>
    </a>
    <a href="{% url 'amazon:product' product_id=order_item.product.product_id %}"><img src="{{ order_item.product.product_image.url }}"
      alt="{{ order_item.product.product_name }}" width="100" height="100"></a>
    <p>数量: {{ order_item.quantity }}</p>
    <p>価格: ¥{{ order_item.product.price }} * {{ order_item.quantity }} = ¥{{ order_item.price }}</p>
    <p>購入日時: {{ order_item.order.created_at }}</p>
    <hr>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>購入履歴がありません。</p>
{% endif %}
{% endblock %}
